<p-card>
    <p-table [value]="orders" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '10rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h2 class="m-0">Pedidos realizados</h2>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Fecha del pedido</th>
                <th>Cliente</th>
                <th class="text-center">Cant. de productos pedidos</th>
                <th></th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td><span class="p-column-title">Fecha del pedido</span>{{order.dateFrom}}</td>
                <td><span class="p-column-title">Cliente</span>{{order.customerName}}</td>
                <td class="text-center"><span></span>{{order.amountProducts}}</td>
                <th><button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button></th>
              </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="text-center" colspan="4">No se han realizado pedidos</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
