<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row card-container align-space-between text-center justify-content-between font-bold text-white">
            
            <div class="flex align-items-center justify-content-center font-bold text-white border-round">
                Pedidos realizados
            </div>
        </div>
    </ng-template>
    <div class="layout-container">
        <div  class="div-1">
            <p-table [value]="orders" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '10rem'}"
            [paginator]="true" [rows]="8"
            styleClass="p-datatable-sm p-datatable-striped">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Fecha del pedido</th>
                        <th>Cliente</th>
                        <th class="text-center">Cant. de productos pedidos</th>
                        <th class="text-center">Factura</th>
                      </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td><span class="p-column-title">Fecha del pedido</span>{{ order.dateFrom| date:'yyyy-MM-dd' }}</td>
                        <td><span class="p-column-title">Cliente</span>{{order.customerName}}</td>
                        <td class="text-center"><span class="p-column-title">Cantidad de productos</span>{{order.amountProducts}}</td>
                        <td class="text-center"><button pButton pRipple label="Ver mas" (click)="showMore(order.orderNumber)" class="p-button-rounded p-button-sm mr-2"></button></td>
                      </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center" colspan="4">No se han realizado pedidos</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-panel>
