<p-toast></p-toast>
<p-card>
    <p-table [value]="productoProveedores" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '10rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h2 class="m-0">{{titulo}}</h2>
                <button (click)="editarProductoProveedorDialog()">asdasd</button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Razón Social</th>
                <th class="text-right">Cantidad</th>
                <th class="text-right">Precio vigente</th>
                <th></th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-productoProveedor>
            <tr>
                <td><span class="p-column-title">Razón Social</span>{{productoProveedor.supplierName}}</td>
                <td class="text-right"><span class="p-column-title">Cantidad</span>{{productoProveedor.amount}}</td>
                <td class="text-right"><span class="p-column-title">Precio vigente</span>{{productoProveedor.validityPrice || "Sin precio"}}</td>
                <td class="text-center">
                    <a class="p-button-success mr-2">Ver precios</a>
                </td>
              </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="text-center" colspan="4">No se han cargado proveedores para este producto</td>
            </tr>
        </ng-template>
    </p-table>

    
</p-card>
<p-dialog header="Header" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body" [(visible)]="productoProveedorDialog" [style]="{width: '75vw'}" [contentStyle]="{height: '300px'}">
    <p-table [value]="productoProveedores" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '10rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Company</th>
                <th>Representative</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td><span class="p-column-title">Name</span>asd</td>
                <td><span class="p-column-title">Country</span>asd</td>
                <td><span class="p-column-title">Company</span>asd</td>
                <td><span class="p-column-title">Representative</span>asd</td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <button type="button" pButton pRipple icon="pi pi-times" (click)="productoProveedorDialog=false" label="Dismiss" class="p-button-text"></button>
    </ng-template>
</p-dialog>