<p-panel>
    <ng-template pTemplate="header">
        <div class="col-12 font-bold text-white m-0">
            Resumen final
        </div>
    </ng-template>
    <div class="layout-container">
        <div  class="div-1">
            <p-table [value]="(orders | async)!"dataKey="productId"
            scrollHeight="window.innerWidth"
               [breakpoint]="'960px'" [tableStyle]="{'min-width': '5rem'}" 
               styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm"
               [paginator]="true" [rows]="8"
               responsiveLayout="stack" >
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row card-container justify-content-between">
                    <div class="flex align-items-center justify-content-center font-bold text-white border-round">
                        Cliente: {{customer !== null ? customer.businessName ? customer.businessName : customer.firstName : customer.firstName}}
                    </div>
                    <div class="flex align-items-center justify-content-center font-bold text-white border-round">
                        <div class="col-12 md:col-6 lg:col-12 text-center">
                            Dirección:  {{customer.direction}}
                        </div>
                    </div>
                    <div class="flex align-items-center justify-content-center font-bold text-white border-round">
                        Email: {{customer.email}}
                    </div>
                </div>
            </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Producto</th>
                        <th>Proveedor</th>
                        <th>Precio unitario vigente</th>
                        <th>Cantidad</th>
                        <th>Total por cantidad</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-entity>
                    <tr>
                        <td><span class="p-column-title">Producto</span>{{entity.productName}}</td>
                        <td><span class="p-column-title">Proveedor</span>{{entity.supplierName}}</td>
                        <td><span class="p-column-title">Precio vigente</span>${{entity.price || 'Sin precio'}}</td>
                        <td><span class="p-column-title">Cantidad</span>{{entity.amount || 'Sin cantidad'}}</td>
                        <td><span class="p-column-title">Total por cantidad</span>$ {{entity.total || 'Sin cantidad'}}</td>
                    </tr>
                </ng-template>
        
                <ng-template pTemplate="emptymessage">
                    <tr>
       
                        <td class="text-center"  colspan="6">No se han seleccionado productos</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
    
                        <div class="flex flex-column md:flex-row align-items-center justify-content-center font-bold text-white border-round m-2">
                            <div class="flex align-items-center justify-content-center font-bold text-white border-round">
                                Total a pagar sin descuentos: ${{subtotal || 0}}
                            </div>
                        </div>
    
                        <div class="flex flex-column md:flex-row align-items-center justify-content-center font-bold text-white border-round m-2">
                            <div class="flex align-items-center justify-content-center font-bold text-white border-round">
                                
                                Total a pagar con descuentos: ${{totals || 0}} (Descuento aplicado: 50%)
                            </div>
                        </div>  
                    <div class="flex flex-column md:flex-row align-items-center justify-content-center font-bold text-white border-round m-2">
                        <div class="flex align-items-center justify-content-center font-bold text-white border-round">
                            <p-button label="Finalizar compra" (click)="finishOrder()" styleClass="p-button-sm p-button-success"></p-button>
                        </div>
                    </div>
                </ng-template>
            </p-table>
    
        </div>
    </div>
</p-panel>



