:host ::ng-deep .p-datatable-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 390px);
}


.div-1 {
flex: 1 0 0; /* Hace que el div-1 ocupe todo el espacio restante en la pantalla */
}