<div class="grid flex flex-wrap align-items-center justify-content-center">
    <div class="col-12 md:col-12 lg:col-12">
<p-table #dt [value]="customersCompany" [(selection)]="customerCompany" dataKey="cuit"  responsiveLayout="stack"
    [paginator]="true"
    [rows]="5"
    [responsive]="true"
    [showCurrentPageReport]="true"
    [globalFilterFields]="['cuit', 'businessName', 'direction', 'phoneNumber', 'postalCod', 'email']"
    styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm" 
    (onRowUnselect)="unselected()"
    (onRowSelect)="selected()"
    [tableStyle]="{'min-width': '10rem'}"
    currentPageReportTemplate="{first} - {last} de {totalRecords}"
    [scrollHeight]="'flex'" [breakpoint]="'960px'">
    <ng-template pTemplate="caption">

        <div class="flex flex-column md:flex-row card-container justify-content-between">
            <div class="flex align-items-center justify-content-center font-bold text-white border-round">
                <div class="col-12 md:col-6 lg:col-12 text-center">
                    <h4 class="m-0">Clientes empresas</h4>
                </div>
            </div>
            <div *ngIf="customerCompany !== null && customerCompany !== undefined" class="flex align-items-center justify-content-center font-bold text-white border-round mb-1">
                <h4 class="m-0">Cliente seleccionado: {{customerCompany.businessName }} </h4>
            </div>
            <div class="flex flex-column md:flex-row align-items-center justify-content-center font-bold text-white border-round">

                <div class="flex align-items-center justify-content-center font-bold text-white border-round">
                    <span class="p-input-icon-left ml-2">
                        <i class="pi pi-search"></i>
                        <input pInputText  class="p-inputtext-sm" type="text" class="p-inputtext-sm"  (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar cliente" />
                    </span>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem"></th>
            <th>Cuit</th>
            <th>Razón social</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Código postal</th>
            <th>Email</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity>
        <tr>
            <td>
                <span class="p-column-title text-left">Seleccionar</span>
                <p-tableRadioButton [value]="entity"></p-tableRadioButton>
            </td>
            <td><span class="p-column-title">Dni</span>{{entity.cuit}}</td>
            <td><span class="p-column-title">Nombre</span>{{entity.businessName}}</td>
            <td><span class="p-column-title">Dirección</span>{{entity.direction}}</td>
            <td><span class="p-column-title">Teléfono</span>{{entity.phoneNumber}}</td>
            <td><span class="p-column-title">Código postal</span>{{entity.postalCod}}</td>
            <td><span class="p-column-title">Email</span>{{entity.email}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex flex-column md:flex-row align-items-center justify-content-center font-bold text-white border-round m-2">
            <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                <p-button label="Confirmar" (onClick)="confirmCustomer()" styleClass="p-button-sm p-button-success"
                [disabled]="customerCompany == null"></p-button>
                <p-button *ngIf="(customerSelected$ | async)!" styleClass="p-button-sm" class="ml-2" label="Volver a selección de productos" (onClick)="returnToProducts()" styleClass="p-button-sm p-button-secondary" ></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">{{emptyMessage}}</td>
        </tr>
    </ng-template>
</p-table>
    </div>
</div>