<p-card>
    <div class="grid flex flex-wrap align-items-center justify-content-center">
        <div class="col-12 md:col-12 lg:col-8">
    <p-table #dt [value]="(locations$ | async)!" 
    styleClass="p-datatable-responsive-footer p-datatable-striped p-datatable-gridlines p-datatable-sm"
    responsiveLayout="stack" [breakpoint]="'960px'" 
    [tableStyle]="{'min-width': '10rem'}"
    [globalFilterFields]="['postalCode','city','provinceName']">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row card-container justify-content-between">
                <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                    <div class="col-12 md:col-6 lg:col-12 text-center">
                        <h2 class="m-0">Localidades</h2>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
                    </span>
                </div>
                <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                    <button pButton pRipple label="Agregar nueva localidad" icon="pi pi-plus" class="p-button-success mr-2" (click)="openModalForm()" ></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr >
                <td class="text-center" colspan="3">Cargando...</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Localidad</th>
                <th>Provincia</th>
                <th></th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-localidad>
            <tr>
                <td><span class="p-column-title">Localidad</span>{{localidad.city}}</td>
                <td><span class="p-column-title">Provincia</span>{{localidad.name}}</td>
                <td class="text-right">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editEntity(localidad)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteEntity(localidad)"></button>
                </td>
              </tr>
        </ng-template>

    </p-table>
</div>
</div>
</p-card>



<p-dialog #dialogForm [visible]="(modalForm | async)!" [style]="{width: '450px'}" header="Agregar localidad" [closable]="false" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="locationForm" (ngSubmit)="save()">
            <div class="field">
                <label for="postalCode">Código postal</label>
                <p-inputNumber inputId="postalCode" formControlName="postalCode" placeholder="Ingrese código postal"> </p-inputNumber>
                <small class="p-error block" *ngIf="locationForm.controls['postalCode'].invalid && locationForm.controls['postalCode'].dirty">El código postal es un campo obligatorio</small>
            </div>
            <div class="field">
                <label for="city">Ciudad</label>
                <input type="text" pInputText id="city" formControlName="city" />
                <small class="p-error block" *ngIf="locationForm.controls['city'].invalid && locationForm.controls['city'].dirty">La ciudad es un campo obligatorio</small>
            </div>
            <div class="field">
                <label for="provincia">Provincia</label>
                <p-dropdown [options]="(provinces$ | async)!" appendTo="body" [filter]="true" filterBy="name" [showClear]="true" placeholder="Seleccionar localidad" optionLabel="name"
                dataKey="provinceCode"  optionValue="provinceCode"
                formControlName="provinceCode" (onChange)="onChange($event)">
            
                <ng-template let-prov  pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="prov">
                        <div>{{ prov.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-prov pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ prov.name }}</div>
                    </div>
                </ng-template>
            
            </p-dropdown>
              <small class="p-error block" *ngIf="locationForm.controls['provinceCode'].invalid && locationForm.controls['provinceCode'].dirty">Provincia es un campo obligatorio</small>
            </div>
            <div class="flex align-items-center">
                <button type="submit" pButton pRipple icon="pi pi-check" label="Guardar" class="mr-2 font-bold p-button-success" [disabled]="locationForm.invalid"></button>
                <button type="button" pButton icon="pi pi-times" label="Cancelar"class="p-button-danger font-bold"  (click)="closeModalForm()"></button>      
            </div>
        </form>
   

    </ng-template>
</p-dialog>

<p-confirmDialog #dialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" (click)="delete()" ></button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="closeDialog()"></button>
    </ng-template>
</p-confirmDialog>