<p-toast></p-toast>
<p-card>
    <p-toolbar styleClass="mb-2 gap-2">
        <ng-template pTemplate="left">
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Agregar nueva localidad" icon="pi pi-plus" class="p-button-success mr-2" (click)="abrirNuevo()" ></button>
        </ng-template>
    </p-toolbar>
    <p-table [value]="localidades" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '10rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h3 class="m-0">Localidades</h3>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Localidad</th>
                <th>Provincia</th>
                <th></th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-localidad>
            <tr>
                <td><span class="p-column-title">Localidad</span>{{localidad.ciudad}}</td>
                <td><span class="p-column-title">Provincia</span>{{localidad.provincia.nombre}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editarLocalidad(localidad)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="borrarLocalidad(localidad)"></button>
                </td>
              </tr>
        </ng-template>
    </p-table>
</p-card>



<p-dialog [(visible)]="localidadDialog" [style]="{width: '450px'}" header="Agregar localidad" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="ciudad">Ciudad</label>
            <input type="text" pInputText id="ciudad" [(ngModel)]="localidad.ciudad" required autofocus />
            <small class="p-error" *ngIf="submitted && !localidad.ciudad">La ciudad es un campo obligatorio</small>
        </div>
        <div class="field">
            <label for="provincia">Provincia</label>
            <p-dropdown [(ngModel)]="provincia" [options]="provincias" option-label="nombre"  inputId="nombre"   placeholder="Seleccione una provincia">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="provincia">
                      <div>{{ provincia.nombre }}</div>
                    </div>
                  </ng-template>
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.codigo">{{option.nombre}}</span>
                </ng-template>
            </p-dropdown>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click) = "Guardar()"></button>
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click) = "CerrarDialog()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" (click)="borrar()" ></button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" ></button>
    </ng-template>
</p-confirmDialog>