
<p-card>
    <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)" ></p-steps>
</p-card>

<div *ngIf="activeIndex === 0">
    <app-list-customer [customer]="customer" (confirmCustomer$)="setIndex($event)"></app-list-customer>
</div>

<div *ngIf="activeIndex === 1">
    <app-list-products (productsSelected$)="confirmProductSelected($event)"></app-list-products>
</div>

<div *ngIf="activeIndex === 2">
    <app-list-product-amount [selectedProducts]="selectedProducts" (productsAmount$)="confirmProductAmount($event)"></app-list-product-amount>
</div>

<div *ngIf="activeIndex === 3">
    <div class="flex flex-column md:flex-row justify-content-center col-12 md:col-8 lg:col-8">
        <app-resume-order [productsOrder]="selectedProducts" (finishOrder$)="finishOrder($event)"  ></app-resume-order>
    </div>

</div>