
<p-card>
    <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)" ></p-steps>
</p-card>

<div *ngIf="activeIndex === 0">
    <app-list-customer [customer]="customer" (confirmCustomer$)="setIndex($event)"></app-list-customer>
</div>

<div *ngIf="activeIndex === 1">
    <p-card>
        <app-list-products [selectedProducts]="selectedProducts" [productsSupplier]="products" (productsSelected$)="confirmProductSelected($event)"></app-list-products>
    </p-card>
</div>

<div *ngIf="activeIndex === 2">
    <p-card>
        <app-list-product-amount [selectedProducts]="selectedProducts" (productsAmount$)="confirmProductAmount($event)"></app-list-product-amount>
    </p-card>
   
</div>

<div *ngIf="activeIndex === 3">
    <p-card>
        <app-resume-order [productsOrder]="selectedProducts" (finishOrder$)="finishOrder($event)"></app-resume-order>
    </p-card>
</div>