<div *ngIf="(existCustomerParticular || existCustomerCompany) && existProducts;else Reporte">
    <div *ngIf="step === 1">
        <app-list-customer></app-list-customer>
    </div>
    <div *ngIf="step === 2">
        <app-list-products></app-list-products>
    </div>
    
    <div *ngIf="step === 3">
        <app-list-product-amount></app-list-product-amount>
    </div>
    
    <div *ngIf="step === 4">
        <app-resume-order></app-resume-order>
    </div>
    
</div>

<ng-template #Reporte>
    <p-card class="mt-2" *ngIf="!existCustomerParticular && !existCustomerCompany" header="Faltan cargar clientes">
        <p class="m-0">
           No se han encontrado clientes empresariales y/o clientes particulares cargados
        </p>
    </p-card>
    <p-card class="m-0" *ngIf="!existProducts" header="Faltan cargar proveedores a productos">
        <p>
           No se han encontrado productos que posean proveedores asignados, recuerda asignar proveedores a cada producto creado como también sus precios,
           verifique que se hayan registrado productos y en caso que asi sea que tenga proveedores asociados
        </p>
    </p-card>
  </ng-template>



