<p-tabView styleClass="tabview-custom">
    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>Cliente particular</span>
        </ng-template>
        <p-card>
            <div class="grid flex flex-wrap align-items-center justify-content-center">
                <div class="col-12 md:col-12 lg:col-12">
                    <app-list-particular [customerParticular]="customer" (selectedCustomer$)="selectedCustomerParticular()"   (confirmCustomer$)="confirmCustomerParticular($event)"></app-list-particular>
                </div>
            </div>
        </p-card>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>Cliente empresa</span>
        </ng-template>
        <p-card>
            <div class="grid flex flex-wrap align-items-center justify-content-center">
                <div class="col-12 md:col-12 lg:col-12">
                   <app-list-company [customerCompany]="customer" (selectedCustomer$)="selectedCustomerCompany()" (confirmCustomer$)="confirmCustomerCompany($event)"></app-list-company>
                </div>
            </div>
        </p-card>     
    </p-tabPanel>
</p-tabView>
