<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row card-container align-space-between text-center justify-content-between font-bold text-white">
            
            <div class="flex align-items-center justify-content-center font-bold text-white border-round">
                Seleccionar cliente
            </div>
              
              
                <div class="flex-nowrap">
                    Tipo cliente:
                    <p-dropdown [options]="options" class="p-inputtext-sm" [(ngModel)]="selectedType"  optionLabel="name"></p-dropdown>
                    
               </div>
        </div>
    </ng-template>
    <div class="layout-container">
        <div  class="div-1">
            <app-list-company *ngIf="selectedType.code === 1"></app-list-company>
<app-list-particular *ngIf="selectedType.code === 2"></app-list-particular>
        </div>
    </div>
</p-panel>


