<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row card-container align-space-between text-center justify-content-between font-bold text-white">
            
            <div class="flex align-items-center justify-content-center font-bold text-white border-round">
                Precios de productos
            </div>
              
        </div>
    </ng-template>
    <div class="layout-container">
        <div  class="div-1">

                    <p-table [value]="(prices | async )!" responsiveLayout="stack" [breakpoint]="'960px'"
                    [paginator]="true"
                    [rows]="8"
                        [tableStyle]="{'min-width': '10rem'}">
                        <ng-template pTemplate="caption">
                            <div class="flex flex-column md:flex-row card-container justify-content-between">
                                <div
                                    class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                                    <div class="col-12 md:col-6 lg:col-12 text-center">
                                        <h2 class="m-0">Precios de: {{productSupplier.productName}} -
                                            {{productSupplier.supplierName}}</h2>
                                    </div>
                                </div>
                                <div class="flex align-items-center justify-content-end font-bold text-white border-round m-2">
                                    <p-button label="Nuevo precio" styleClass="p-button-sm p-button-secondary"
                                        (click)="openDialog()"></p-button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Fecha</th>
                                <th>Precio</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-price>
                            <tr>
                                <td><span class="p-column-title">Producto</span>{{price.dateFrom | date:'yyyy-MM-dd' }}</td>
                                <td><span class="p-column-title">Proveedor</span>{{price.price}}</td>
                                <td class="text-center"><span class="p-column-title">Acciones</span>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteEntity(price)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="text-center" colspan="4">No se han cargado precios</td>
                            </tr>
                        </ng-template>
                    </p-table>
        </div>
    </div>
</p-panel>

<p-dialog [visible]="(modal | async)!" header="Establecer precio" [closable]="false" [modal]="true"
    styleClass="p-fluid">

    <ng-template pTemplate="content">
        <form [formGroup]="priceForm">
            <div class="field">
                <label for="precio">Precio</label>
                <p-inputNumber [min]="0" mode="decimal" inputId="withoutgrouping" [useGrouping]="false" formControlName="price">
                </p-inputNumber>
            </div>
            <div class="field">
                <label for="precio">Fecha vigencia</label>
                <p-calendar [showIcon]="true" appendTo="body" formControlName="date"></p-calendar>
            </div>
            <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                <button type="submit" pButton pRipple label="Guardar" icon="pi pi-check"
                    class="p-button-rounded p-button-sm p-button-success mr-2" [disabled]="priceForm.invalid"
                    (click)="saveForm()"></button>
                <button type="button" pButton pRipple label="Cancelar" icon="pi pi-times"
                    class="p-button-rounded p-button-sm p-button-danger" (click)="closeModalForm()"></button>
            </div>
        </form>
    </ng-template>
</p-dialog>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" (click)="delete()"></button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="closeDialog()"></button>
    </ng-template>
</p-confirmDialog>