<fieldset hidden="true">
    <div class="factura-table-container">
        <table class="factura-table">
          <thead>
            <tr>
              <th colspan="4" class="encabezado-factura">Factura</th>
            </tr>
            <tr>
              <th colspan="4">Cliente: David Martinez</th>
            </tr>
            <tr>
              <th colspan="4">Dirección: Av Grandoli 5039 E7 1° B</th>
            </tr>
            <tr>
              <th colspan="4">Email: admin@empleado.com</th>
            </tr>
            <tr>
              <th>#</th>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <!-- Aquí puedes agregar filas de ejemplo con información -->
            <tr>
              <td>1</td>
              <td>Producto 1</td>
              <td>2</td>
              <td>$50.00</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Producto 2</td>
              <td>3</td>
              <td>$30.00</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Producto 3</td>
              <td>3</td>
              <td>$30.00</td>
            </tr>
            <!-- Puedes agregar más filas según sea necesario -->
          </tbody>
          <tfoot>
            <tr>
              <td>Descuento: %50</td>
              <td colspan="2" style="text-align: right;">Total:</td>
              <td>$10000</td>
            </tr>
          </tfoot>
        </table>
      </div>
</fieldset>

