

:host ::ng-deep .p-tabview .p-tabview-panels{
    padding: 0 !important;
}

:host ::ng-deep .spinner-flex {
    flex-direction: column !important;
}



:host ::ng-deep .p-button-success {
    background-color: #25d366;
}
:host ::ng-deep .p-button-danger {
    background-color:#fc636b;
}