<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row card-container align-space-between text-center justify-content-between font-bold text-white">
            
            <div class="flex align-items-center justify-content-center font-bold text-white border-round">
                Productos
            </div>
              
        </div>
    </ng-template>
    <div class="layout-container">
        <div  class="div-1">
            <p-table #dt 
            [value]="(products$ | async)!" responsiveLayout="stack" 
            [breakpoint]="'960px'" 
            [tableStyle]="{'min-width': '10rem'}"
            styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
            [globalFilterFields]="['description', 'categoryName', 'amount']"
            [paginator]="true"
            [rows]="8"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row card-container justify-content-end">
                        <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" class="p-button-sm" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
                            </span>
                        </div>
                        <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                            <button pButton pRipple label="Agregar nuevo producto" icon="pi pi-plus" class="p-button-secondary mr-2" (click)="openModalForm()" ></button>
                        </div>
                    </div>
        
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre de producto</th>
                        <th>Categoría</th>
                        <th class="text-center">Cantidad total de inventario</th>
                        <th class="text-center">Acciones</th>
                      </tr>
                </ng-template>
                <ng-template pTemplate="body" let-producto>
                    <tr>
                        <td><span class="p-column-title">Descripción</span>{{producto.description}}</td>
                        <td><span class="p-column-title">Categoría</span>{{producto.categoryName}}</td>
                        <td class="text-center"><span class="p-column-title">Cant. total de inventario</span>{{producto.amount}}</td>
                        <td class="text-center">
                            <button pButton pRipple label="Ver proveedores" class="p-button-rounded p-button-primary p-button-sm mr-2" (click)="redirectToProductSupplier(producto)" ></button>
                            <button pButton pRipple icon="pi pi-pencil" label="Editar" class="p-button-rounded p-button-sm p-button-secondary mr-2" (click)="editEntity(producto)"></button>
                            <button pButton pRipple icon="pi pi-trash" label="Eliminar" class="p-button-rounded p-button-sm p-button-danger" (click)="deleteEntity(producto)" ></button>
                        </td>
                      </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center" colspan="4">No se han cargado productos</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-panel>

<p-dialog [visible]="(modalForm | async)!" [closable]="false"   [style]="{width: '450px'}" [header]="title" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="productForm" (ngSubmit)="save()">
        <div class="field">
            <label for="description">Descripción</label>
            <input type="description" pInputText id="description" formControlName="description" placeholder="Ingrese la descripción del producto" />
            <small class="p-error" *ngIf="productForm.controls['description'].invalid && productForm.controls['description'].dirty">La descripción del producto es un campo obligatorio</small>
        </div>
        <div class="field">
            <label for="categoria">Categoría</label>
            <p-dropdown [options]="(categories$ | async)!" appendTo="body" [filter]="true" filterBy="name" [showClear]="true" placeholder="Seleccionar una categoría" optionLabel="name"
            dataKey="categoryId"  optionValue="categoryId"
            formControlName="categoryId" (onChange)="onChange($event)">
        
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="category">
                    <div>{{ category.name}}</div>
                </div>
            </ng-template>
            <ng-template let-cat pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ cat.name }}</div>
                </div>
                
            </ng-template>
        
        </p-dropdown>
        <small class="p-error" *ngIf="productForm.controls['categoryId'].invalid && productForm.controls['categoryId'].dirty">La categoría es un campo obligatorio</small>
    </div>
    <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
        <button type="submit" pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-success mr-2"></button>
        <button type="button" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="closeModalForm()"></button>
    </div>
    </form>
    </ng-template>
</p-dialog>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" (click)="delete()" ></button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="closeDialog()" ></button>
    </ng-template>
</p-confirmDialog>
