<p-toast></p-toast>
<p-card>
    <p-table #dt 
    [value]="productos" responsiveLayout="stack" 
    [breakpoint]="'960px'" 
    [tableStyle]="{'min-width': '10rem'}"
    styleClass="p-datatable-sm p-datatable-striped"
    [globalFilterFields]="['description', 'categoryName', 'amount']"
    >
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row card-container justify-content-between">
                <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                    <div class="col-12 md:col-6 lg:col-12 text-center">
                        <h2 class="m-0">Productos</h2>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
                    </span>
                </div>
                <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                    <button pButton pRipple label="Agregar nuevo producto" icon="pi pi-plus" class="p-button-success mr-2" (click)="openModalNew()" ></button>
                </div>
            </div>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre de categoria</th>
                <th>Categoria</th>
                <th class="text-center">Cantidad total de inventario</th>
                <th class="text-center">Acciones</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
            <tr>
                <td><span class="p-column-title">Descripción</span>{{producto.description}}</td>
                <td><span class="p-column-title">Categoria</span>{{producto.categoryName}}</td>
                <td class="text-center"><span class="p-column-title">Cant. total de inventario</span>{{producto.amount}}</td>
                <td class="text-center">
                    <button pButton pRipple label="Ver proveedores" class="p-button-rounded p-button-sm mr-2" (click)="routeProductSupplier(producto)" ></button>
                    <button pButton pRipple icon="pi pi-pencil" label="Editar" class="p-button-rounded p-button-sm p-button-success mr-2" (click)="editProductForm(producto)"></button>
                    <button pButton pRipple icon="pi pi-trash" label="Eliminar" class="p-button-rounded p-button-sm p-button-danger" (click)="deleteProduct(producto)" ></button>
                </td>
              </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="text-center" colspan="4">No se han cargado productos</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Agregar producto" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="productForm" (ngSubmit)="save()">
        <div class="field">
            <label for="description">Descripción</label>
            <input type="description" pInputText id="description" formControlName="description" placeholder="Ingrese la descripción del producto" />
            <small class="p-error" *ngIf="productForm.controls['description'].invalid && productForm.controls['description'].dirty">La descripción del producto es un campo obligatorio</small>
        </div>
        <div class="field">
            <label for="categoria">Categoría</label>
            <p-dropdown [options]="categories" appendTo="body" [filter]="true" filterBy="name" [showClear]="true" placeholder="Seleccionar una categoría" optionLabel="name"
            dataKey="categoryId"  optionValue="categoryId"
            formControlName="category" (onChange)="onChange($event)">
        
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="category">
                    <div>{{ category.name}}</div>
                </div>
            </ng-template>
            <ng-template let-cat pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ cat.name }}</div>
                </div>
                
            </ng-template>
        
        </p-dropdown>
        <small class="p-error" *ngIf="productForm.controls['category'].invalid && productForm.controls['category'].dirty">La categoría es un campo obligatorio</small>
    </div>
    <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
        <button type="submit" pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-success mr-2"></button>
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="CerrarDialog()"></button>
    </div>
    </form>
    </ng-template>
</p-dialog>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" (click)="deleteProductForm()" ></button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="closeConfirm()" ></button>
    </ng-template>
</p-confirmDialog>
