<p-card>
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label for="apellido">Apellido</label>
                <input id="apellido" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-12 md:col-3">
                <label for="apellido">Legajo</label>
                <input id="legajo" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-12 md:col-9">
                <label for="apellido">E-Mail</label>
                <input id="mail" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div>
        <p-button label="Click" ></p-button>
</p-card>