
    <p-panel>
        <ng-template pTemplate="header">
            <div class="col-12 font-bold text-white m-0">
                Productos seleccionados
            </div>
        </ng-template>
        <div class="layout-container">
            <div  class="div-1">
                <p-table 
                [value]="products" 
                styleClass="p-datatable-sm"
                responsiveLayout="stack"
                scrollHeight="flex" 
                [paginator]="true"
                [rows]="isMobileScreen ? 3 : 7"
            >
            
                <ng-template pTemplate="caption">
            
                </ng-template>
            
                <ng-template pTemplate="header">
                    <tr>
                        <th>Producto</th>
                        <th>Proveedor</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Cantidad pedida</th>
                        <th class="text-center">Precio unitario vigente</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td><span class="p-column-title">Producto</span>{{ product.productName }}</td>
                        <td><span class="p-column-title">Proveedor</span>{{ product.supplierName }}</td>
                        <td class="text-center"><span class="p-column-title">Cantidad</span>{{ product.amount }}</td>
                        <td class="text-center"><span class="p-column-title">Cantidad pedida</span>{{ product.amountOrder }}</td>
                        <td class="text-center"><span class="p-column-title">Precio unitario vigente</span>{{ product.validityPrice }}</td>
                    </tr>
                </ng-template>
            
                <ng-template pTemplate="emptymessage">
                    <tr >
                        <td colspan="5" class="text-center justify-content-center">No se han seleccionado productos</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex flex-column md:flex-row align-items-center justify-content-center font-bold text-white border-round m-2">
                        <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                            <p-button label="Volver a seleccion de productos" (click)="returnToProducts()" styleClass="p-button-sm p-button-secondary"
                            ></p-button>
                            <p-button label="Confirmar productos" (click)="confirmAmounts()" class="ml-4" styleClass="p-button-sm p-button-success"
                            ></p-button>
                        </div>
                    </div>
                </ng-template>
            </p-table>
              </div>
        </div>
    </p-panel>


