<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row card-container align-space-between text-center justify-content-between font-bold text-white">
            
            <div class="flex align-items-center justify-content-center font-bold text-white border-round">
                Descuentos
            </div>
              
        </div>
    </ng-template>
    <div class="layout-container">
        <div  class="div-1">
            <p-table #dt [value]="(discounts | async)!"
            styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm"
            responsiveLayout="stack" [breakpoint]="'960px'" 
            [tableStyle]="{'min-width': '10rem'}"
            [paginator]="true"
            [rows]="8"
            [globalFilterFields]="['validityDate','amountPrice', 'discount']"
        >
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row card-container justify-content-end">
                        <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
                            </span>
                        </div>
                        <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                            <button pButton pRipple label="Agregar nuevo descuento" icon="pi pi-plus" class="p-button-secondary mr-2" (click)="openModalForm()" ></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr >
                        <td class="text-center" colspan="3">Cargando...</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Fecha</th>
                        <th>Monto desde</th>
                        <th>Porcentaje de descuento</th>
                        <th class="text-center">Acciones</th>
                      </tr>
                </ng-template>
                <ng-template pTemplate="body" let-descuento>
                    <tr>
                        <td><span class="p-column-title">Fecha</span>{{descuento.validityDate | date:'yyyy-MM-dd'}}</td>
                        <td><span class="p-column-title">Monto desde</span>{{descuento.amountPrice}}</td>
                        <td><span class="p-column-title">Porcentaje de descuento</span>{{descuento.discount}}</td>
                        <td class="text-center">
                            <span class="p-column-title">Acciones</span>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteEntity(descuento)"></button>
                        </td>
                      </tr> 
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4" class="text-center">No se han encontrado descuentos</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-panel>




<p-dialog [visible]="(modal | async)!" header="Establecer precio" [closable]="false" [modal]="true"
    styleClass="p-fluid">

    <ng-template pTemplate="content" >
        <form [formGroup]="discountForm" (ngSubmit)="save()">

            <div class="field">
                <label for="monto">Monto</label>
                <p-inputNumber mode="decimal" [min]="0" id="monto" [max]="99999"  inputId="withoutgrouping" [useGrouping]="false" formControlName="amountPrice">
                </p-inputNumber>
            </div>
            <small class="p-error" *ngIf="discountForm.get('amountPrice')?.errors?.required && discountForm.get('amountPrice')?.dirty">El campo Monto no puede estar vacío</small>
            <small class="p-error" *ngIf="discountForm.get('amountPrice')?.errors?.serverError">{{ discountForm.get('amountPrice')?.errors?.serverError }}</small>
            <div class="field">
                <label for="porcentage">Porcentaje</label>
                <p-inputNumber mode="decimal" [min]="0" [max]="50" inputId="porcentage" [useGrouping]="false" formControlName="discount">
                </p-inputNumber>
            </div>
            <small class="p-error" *ngIf="discountForm.get('discount')?.errors?.required && discountForm.get('discount')?.dirty">El campo Porcentaje no puede estar vacío</small>
            <small class="p-error" *ngIf="discountForm.get('discount')?.errors?.serverError">{{ discountForm.get('discount')?.errors?.serverError }}</small>
            <div class="field">
                <label for="precio">Fecha vigencia</label>
                <p-calendar [showIcon]="true" appendTo="body" formControlName="validityDate"></p-calendar>
            </div>
            <small class="p-error" *ngIf="discountForm.get('validityDate')?.errors?.required && discountForm.get('validityDate')?.dirty">El campo Fecha vigencia no puede estar vacío</small>
            <small class="p-error" *ngIf="discountForm.get('validityDate')?.errors?.serverError">{{ discountForm.get('validityDate')?.errors?.serverError }}</small>
            <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                <button type="submit" pButton pRipple label="Guardar" icon="pi pi-check"
                    class="p-button-rounded p-button-sm p-button-success mr-2" [disabled]="discountForm.invalid"></button>
                <button type="button" pButton pRipple label="Cancelar" icon="pi pi-times"
                    class="p-button-rounded p-button-sm p-button-danger" (click)="closeModalForm()"></button>
            </div>
        </form>
    </ng-template>
</p-dialog>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" (click)="delete()" ></button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="closeDialog()" ></button>
    </ng-template>
</p-confirmDialog>