<p-card>
    <div class="grid flex flex-wrap align-items-center justify-content-center">
        <div class="col-12 md:col-12 lg:col-8">
    <p-table #dt [value]="(categories$ | async)!" responsiveLayout="stack" [loading]="(loading | async)!" [breakpoint]="'960px'" [tableStyle]="{'min-width': '10rem'}"  styleClass="p-datatable-sm p-datatable-striped"
    [globalFilterFields]="['name']">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row card-container justify-content-between">
                <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                    <div class="col-12 md:col-6 lg:col-12 text-center">
                        <h2 class="m-0">Categorías</h2>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar categoría" />
                    </span>
                </div>
                <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                    <button pButton pRipple label="Agregar nueva categoria" icon="pi pi-plus" class="p-button-success mr-2" (click)="openModalForm()" ></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre de categoría</th>
                <th></th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entity>
            <tr>
                <td><span class="p-column-title">Categoría</span>{{entity.name}}</td>
                <td class="text-right">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editEntity(entity)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteEntity(entity)"></button>
                </td>
              </tr>
        </ng-template>
    </p-table>
</div>
</div>
</p-card>


<p-dialog [visible]="(modalForm | async)!" [closable]="false"  [header]="title" [style]="{width: '450px'}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="categoryForm" (ngSubmit)="save()">
            <div class="field">
                <label for="categoria">Nombre de categoría</label>
                <input type="text" pInputText id="categoria" formControlName="name" placeholder="Ingrese nombre de categoría" form required autofocus />
                <small class="p-error block" *ngIf="categoryForm.controls['name'].invalid && categoryForm.controls['name'].dirty">
                    El campo Nombre es obligatorio
                </small>
            </div>
            <div class="flex align-items-center">
                <button type="button" pButton pRipple icon="pi pi-check" label="Guardar" (click)="save()" class="mr-2 font-bold p-button-success" [disabled]="categoryForm.invalid"></button>
                <button type="button" pButton icon="pi pi-times" label="Cancelar"class="p-button-danger font-bold"  (click)="closeModalForm()"></button>      
            </div>
        </form>
    </ng-template>
</p-dialog>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" (click)="delete()" ></button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="closeDialog()" ></button>
    </ng-template>
</p-confirmDialog>